@model IEnumerable<GloboMartServer.Product>

@{
    ViewBag.Title = "GetProducts";
}

<h2>GetProducts</h2>
@using (Html.BeginForm("FindProductByType", "Home", FormMethod.Get))
{

    @:Product Type:  @Html.TextBox("type")
    <input type="submit" name="submit" value="Search" />
}
<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.Partial("_GetProductPrice", item)
                ||
                @Html.ActionLink("Delete", "RemoveProduct", new { id = item.Id })
            </td>
        </tr>
    }

</table>
